body {
  padding-top: 7rem;
  margin: 5em;
  color: #F0FFF0;
  background-color: lightpink;
}
.starter-template {
  text-align: center;
  text-size: 30px;
}

<h > {
  color: lightblue;
}

p {
  border: 6px solid;
  border-style: solid;
  border-color: lightblue;
}

.nav-p {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 4.25rem;

  line-height: inherit;
  white-space: nowrap;
  color: lightgreen;
}
